<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angular.js框架</title>
    <script src="../javascripts/Script/angular.min.js"></script>
   <!-- <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular-animate.min.js"></script>angular.js动画-->
</head>
<body  ng-app="myApp">
<hr>
<div>AngularJS $http,AngularJS $http 是一个用于读取web服务器上数据的服务。
    $http.get(url) 是用于读取服务器数据的函数。-------还不行</div>
<div ng-controller="customersCtrl">

    <ul>
        <li ng-repeat="x in names">
            {{ x.Name + ', ' + x.Country }}
        </li>
    </ul>

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {
        $http.get("http://www.runoob.com/try/angularjs/data/Customers_JSON.php")
                .success(function (response) {$scope.names = response.records;});
    });
</script>
<hr>
<div></div>
<div>
    <h1>Today's activities</h1>
    <ul>
        <li ng-repeat="activity in activities">
            {{activity.name}}
        </li>
    </ul>
</div>
<script>
    var app=angular.module("myApp",[]);
    app.controller("myctr",function ($scope) {
            $scope.activities = [
                { "name": "Wake up" },
                { "name": "Brush teeth" },
                { "name": "Shower" },
                { "name": "Have breakfast" },
                { "name": "Go to work" },
                { "name": "Write a Nettuts article" },
                { "name": "Go to the gym" },
                { "name": "Meet friends" },
                { "name": "Go to bed" }
            ];
    })
</script>
<hr>
<div>directive指令</div>
<!--directive指令-->
<runoob-directive></runoob-directive>
<!-- directive:runoob-directive -->
<div runoob-directive></div>
<div class="runoob-directive"></div>
<script>
    var app = angular.module("myApp", []);
    app.directive("runoobDirective", function() {
        return {
            restrict : "MECA",
            replace:true,
            template : "<h1>自定义指令!</h1>"
        };
    });
</script>

<p><strong>注意：</strong> 通过设置 <strong>restrict</strong> 属性值为 "A" 来设置指令只能通过 HTML 元素的属性来调用。</p>

</body>
</html>