* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}
a{
    cursor: pointer;
}
#header {
    width: 100%;
    height: auto;
}
.yixuan{
    background: red;color: black;
}

/*--------------------标题-----------*/
#biaoti {
    width: 1000px;
    height: 80px;
    margin: auto;
    line-height: 80px;
}

.biaoti_1 {
    padding-left: 2%;
    width: 48%;
    height: 100%;
    float: left;
    color: #0033FF;
    font-weight: bolder;
}

.biaoti_search {
    width: 50%;
    height: 100%;
    float: right;
    text-align: right;
}

#search_text {
    width: 200px;
    height: 30px;
    font-size: 1em;
    line-height: 30px;
    margin: 0px;
}

#btn_search {
    width: 50px;
    height: 30px;
    line-height: 30px;
    font-size: 1.1em;
    color: rgba(255, 255, 255, 1.0);
    border: none;
    margin: 0px;
    background: #0086b3;
    box-shadow: 3px 3px 4px rgba(4, 245, 156, 0.4);
    font-weight: bolder;
}

#btn_search:hover {
    background: #0086b3;
    opacity: 0.8;
    text-shadow: 2px 3px 20px rgba(255, 255, 255, 1.0);
}

/*----------------导航---------*/
#daohang {
    width: 100%;
    height: 40px;
    background: dodgerblue;
}

#nav {
    width: 1000px;
    height: 40px;
    margin: auto;
    font-size: 1.3em;
}

#nav ul:nth-of-type(1) {
    width: 70%;
    height: 100%;
    float: left;
    list-style-type: none;
}
#nav ul:nth-of-type(1) li{
float: left;
}
#nav ul:nth-of-type(1) li a {
    display: block;
    text-decoration: none;
    padding: 0px 10px;
    width: auto;
    height: 40px;
    text-align: center;
    line-height: 40px;

}

#nav ul:nth-of-type(2) {
    width: 30%;
    height: 100%;
    float: right;
    text-align: right;
    list-style-type: none;
}

#nav ul:nth-of-type(2) li a {
    display: block;
    text-decoration: none;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: right;
}

#nav li a:visited, #nav li a:link {
    background: dodgerblue;
    color: white;
}

#nav li a:hover {
    background: #275da1;
    color: white;
}

/*
------------------主题内容-----------------*/
.section {
    width: 1000px;
    height: auto;
    margin: auto;
    clear: both;
    margin-top: 25px;
}

.article1 {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
}

.img_quan {
    width: 5000px;
    height: 100%;
    position: relative;
}

#previous {
    width: 70px;
    height: 446px;
    position: absolute;
    text-align: right;
    line-height: 450px;
    left: 0px;
    top: 0px;
    color: white;
    font-size: 1.7em;
    opacity: 0.7;
    text-shadow: 2px 3px 4px white;
}

#previous:hover {
    background: rgba(23, 34, 45, 0.2);
    font-size: 1.8em;
    font-weight: bolder;
    opacity: 1.0;
    cursor: pointer;
    box-shadow: 8px 1px 10px rgba(23, 34, 45, 0.2);
}

#next {
    width: 70px;
    height: 446px;
    position: absolute;
    text-align: left;
    line-height: 450px;
    left: 930px;
    top: 0px;
    color: white;
    font-size: 1.7em;
    font-weight: bolder;
    opacity: 0.7;
    text-shadow: 2px 3px 4px white;
}

#next:hover {
    background: rgba(23, 34, 45, 0.2);
    font-size: 1.8em;
    opacity: 1.0;
    cursor: pointer;
    box-shadow: -4px 1px 10px rgba(23, 34, 45, 0.2);
}

.h1 {
    font-size: 2em;
    display: inline-block;
    opacity: 0.7;
}

/*
---------------最热门电影滚动栏-----------*/
.img_active {
    width: 1000px;
    height: 450px;
    float: left;
}

.carousel-caption {
    position: relative;
    left: 440px;
    top: -70px;
    z-index: 100;
    color: white;
    font-weight: bolder;
}

.art_ol ol {
    width: 150px;
    height: 15px;
    margin: 0px;
    position: relative;
    list-style-type: none;
    line-height: 15px;
    left: 440px;
    top: -40px;
}

.art_ol ol li {
    display: inline-block;
    width: 11px;
    height: 11px;
    border: 1px solid #c0c0c0;
    float: left;
    margin-right: 15px;
    border-radius: 6px;
    text-align: center;
}

.baise {
    background: white;
}

/*
---------------热门电影-----------*/
#remen {
    width: 1000px;
    height: auto;
    margin: auto;
}

#remen .pailie {
    float: left;
    width: 15%;
    height: auto;
    margin-right: 2%;
}

#remen .pailie:hover {
    opacity: 0.8;
}

#remen .pailie:nth-of-type(6) {
    margin-right: 0px;
}

/*
---------------最新电影-----------*/
#zuixin {
    width: 1000px;
    height: 1065px;
    margin: auto;
    overflow: hidden;
}

#zuixin .pailie {
    float: left;
    width: 15%;
    height: auto;
    margin-right: 2%;
    margin-bottom: 20px;
}

#zuixin .pailie:hover {
    opacity: 0.8;
}

#zuixin .pailie:nth-of-type(6n) {
    margin-right: 0px;
}

.pailie h4 {
    display: inline-block;
}

.leixing {
    margin-top: 4px;
}

.leixing a {
    width: auto;
    height: auto;
    display: inline-block;
    margin: 0px 5px;
}

.leixing a:hover {
    background: #c0c0c0
}

/*
---------------更多电影-----------*/
#more {
    width: 100%;
    height: 30px;
    background: cornflowerblue;
    text-align: center;
    margin: auto;
    clear: both;
    margin-top: 15px;
    color: white;
    line-height: 30px;
    font-size: 0.8em;
    cursor: pointer;
}

#more:hover {
    background: #0033FF;
}

/*
---------------footer-----------*/
footer {
    text-align: center;
    width: auto;
    height: auto;
    margin-top: 10px;
    clear: both;
}

footer p {
    width: 700px;
    height: auto;
    margin: auto;
}

/*----------微博*/
#weibo {
    text-decoration: none;
}

#weibo:hover {
    text-decoration: underline;
    color: #183691;
    opacity: 1.0;
}